@font-face {
    font-family: Bebas;
    src: url('../font/BebasNeue.otf');
}

body, html {
	font-family: Bebas;
	margin: 0;
	padding: 0;
    background-color: #ecf0f1 !important;
    color: #7f8c8d !important;
}

.loaded {
    margin-bottom: 100px;
}

.screen {
	display: none;
}

.screen.active {
	display: block;
}

.hidden {
    display: none;
}

#header {
    margin: 0 auto;
    margin-top: 15px;
    width: 483px;
    height: 66px;
    display: block;
}

#search-bar-container {
    width: 580px;
    margin: 0 auto;
    margin-top: 15px;
}

#search-input {
    width: 73%;
    float: left;
    margin-bottom: 20px;
}

#search-button {
    margin-left: 10px;
}

.value-bar {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 20px;
}

.value-bar p {
    position: absolute;
    font-weight: bold;
    top:25%; left:10px;
    z-index: 10;
    color: #444;
}

.table-container {
    width: 80%;
    margin: 0 auto;
}

.table {
    background-color: white;
    width: 100% !important;
}

.table-top {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.table-top th:hover, .prof-name:hover, .course-code:hover, .topLabels:hover {
    text-decoration: underline;
    cursor: pointer;
}

.table-curved {
    border-collapse: separate;
}

.table-curved {
    border-radius: 4px;
    border-left:0px;
}

.table-curved td, .table-curved th {
    position: relative;
    border-top: 10px #ecf0f1 solid !important;
    border-bottom: none;
    min-height: 20px;
    table-layout: fixed;
    width: 200px;
    padding: 10px;
}

.table-curved th {
    border-top: none;
}

.table-curved th:first-child {
    border-radius: 4px 0 0 0;
}

.table-curved th:last-child {
    border-radius: 0 4px 0 0;
}

.table-curved th:only-child{
    border-radius: 4px 4px 0 0;
}

.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}

.table-curved tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}

td.no-pad {
    padding: 0!important;
    height: 25px;
}

.vb-bg {
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}

.vb-bg.red {
    background-color: #e74c3c;
}

.scoreRating1, .scoreRating2 {
    color: #e74c3c;
}

.vb-bg.yellow {
    background-color: #f1c40f;
}

.scoreRating3 {
    color: #f1c40f;
}

.vb-bg.green {
    background-color: #27ae60;
}

.scoreRating4, .scoreRating5 {
    color: #27ae60;
}

.vb-bg.disabled {
    background-color: #bdc3c7;
}

.prof-name, .instructorDetailName, .topLabels {
    text-transform:capitalize;
}

.instructorDetailName, .courseDetailName {
    float: left;
}

.instructorDetailScore, .courseDetailScore {
    float: right;
}

.course-description {
    display: block;
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 0px;
}

.course_time {
    text-transform:capitalize;
    font-size: 12px;
    font-weight: 350;
}

.departmentField {
    width: 150px;
}

.courseCodeField {
    width: 150px;
    margin-left: 15px;
}

.profField {
    width: 250px;
    margin-left: 15px;
}

.departmentField, .courseCodeField, .profField {
    display: inline-block;
}

.Select-menu-outer, .Select-placeholder {
    text-transform: capitalize;
}

.loading {
    margin-top: 10px;
    text-align: center;
}

#loadingSpinner {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#loadingText {
    font-size: 50px;
}

.topHeader {
  position: fixed;
  z-index: 1000;
  top: -7px;
}

.topHeaderHidden {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.topHeaderLoaded {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.glyphicon-play {
    margin-left: -30px;
    margin-right: 12px;
    font-size: 18px;
}

.glyphicon-play:hover {
    color: purple;
    cursor: pointer;
}

.rotated {
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg);   /* Firefox */
    -ms-transform: rotate(90deg);   /* IE 9 */
    -o-transform: rotate(90deg);   /* Opera */
    transform: rotate(90deg);
}

.existing-expanded {
    background-color: rgba(0, 0, 0, 0.14);
}

.left {
    float: left;
}

.right {
    float: right;
}
