.time-series-body {
  font: 10px sans-serif;
  display: block;
  width: 100%;
  float: left;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.d3-tip {
    line-height: 0.5;
    font-weight: bold;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.professor text {
  text-transform: capitalize;
  font-size: 14px;
}

.plot {
  display: block;
  margin: 0 auto;
  width: 680px;
}
